<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.defcon.sortDescriptor</key>
    <array>
      <dict>
        <key>allowPseudoUnicode</key>
        <integer>1</integer>
        <key>type</key>
        <string>cannedDesign</string>
      </dict>
    </array>
    <key>com.loicsander.scaleFast</key>
    <dict>
      <key>guides</key>
      <array/>
      <key>presets</key>
      <dict/>
    </dict>
    <key>com.schriftgestaltung.DisplayStrings</key>
    <array>
      <string>AORTA</string>
    </array>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.font.customParameters</key>
    <array>
      <dict>
        <key>name</key>
        <string>Axes</string>
        <key>value</key>
        <array>
          <dict>
            <key>Name</key>
            <string>Weight</string>
            <key>Tag</key>
            <string>wght</string>
          </dict>
          <dict>
            <key>Name</key>
            <string>Width</string>
            <key>Tag</key>
            <string>wdth</string>
          </dict>
          <dict>
            <key>Name</key>
            <string>Waistline</string>
            <key>Tag</key>
            <string>WSLN</string>
          </dict>
        </array>
      </dict>
    </array>
    <key>com.schriftgestaltung.fontMaster.userData</key>
    <dict>
      <key>GSCornerRadius</key>
      <integer>15</integer>
    </dict>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>1577B97C-DCC5-4AA4-842F-E9BB22E99E3C</string>
    <key>com.schriftgestaltung.glyphOrder</key>
    <false/>
    <key>com.schriftgestaltung.master.name</key>
    <string>Regular-Narrow-Stout</string>
    <key>com.schriftgestaltung.useNiceNames</key>
    <true/>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.compileSettings.autohint</key>
    <integer>1</integer>
    <key>com.typemytype.robofont.compileSettings.checkOutlines</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
    <integer>1</integer>
    <key>com.typemytype.robofont.compileSettings.decompose</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.compileSettings.generateFormat</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.compileSettings.releaseMode</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.guideline.magnetic.DT8O7LRXK8</key>
    <integer>5</integer>
    <key>com.typemytype.robofont.guideline.magnetic.YgrlY2J6wm</key>
    <integer>5</integer>
    <key>com.typemytype.robofont.guideline.magnetic.YiUoFVX5YW</key>
    <integer>5</integer>
    <key>com.typemytype.robofont.guideline.magnetic.f8pkuFMswG</key>
    <integer>5</integer>
    <key>com.typemytype.robofont.guideline.magnetic.r4Og11eW4Z</key>
    <integer>7</integer>
    <key>com.typemytype.robofont.guideline.magnetic.zB3sZ5jdqB</key>
    <integer>5</integer>
    <key>com.typemytype.robofont.guideline.showMeasurements.DT8O7LRXK8</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.guideline.showMeasurements.YgrlY2J6wm</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.guideline.showMeasurements.YiUoFVX5YW</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.guideline.showMeasurements.f8pkuFMswG</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.guideline.showMeasurements.r4Og11eW4Z</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.guideline.showMeasurements.zB3sZ5jdqB</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.italicSlantOffset</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.segmentType</key>
    <string>curve</string>
    <key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
    <integer>1</integer>
    <key>com.typemytype.robofont.smartSets.uniqueKey</key>
    <string>4641310288</string>
    <key>designspace.location</key>
    <array>
      <array>
        <string>xopq</string>
        <real>174.5</real>
      </array>
      <array>
        <string>yopq</string>
        <real>320.0</real>
      </array>
      <array>
        <string>xtra</string>
        <real>2.0</real>
      </array>
    </array>
    <key>public.glyphOrder</key>
    <array>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>I</string>
      <string>B.shadow</string>
      <string>D.shadow</string>
      <string>I.shadow</string>
      <string>A.shadow</string>
      <string>C.shadow</string>
    </array>
    <key>public.postscriptNames</key>
    <dict/>
    <key>public.skipExportGlyphs</key>
    <array>
      <string>acutecmb</string>
      <string>grave</string>
      <string>hungarumlaut</string>
      <string>circumflex</string>
      <string>caron</string>
      <string>breve</string>
      <string>tilde</string>
      <string>macron</string>
      <string>dieresis</string>
      <string>dotaccent</string>
      <string>ring</string>
    </array>
  </dict>
</plist>
