<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>eight.smol</key>
	<string>eight.smol.glif</string>
	<key>five.smol</key>
	<string>five.smol.glif</string>
	<key>four.smol</key>
	<string>four.smol.glif</string>
	<key>nine.smol</key>
	<string>nine.smol.glif</string>
	<key>one.smol</key>
	<string>one.smol.glif</string>
	<key>seven.smol</key>
	<string>seven.smol.glif</string>
	<key>six.smol</key>
	<string>six.smol.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>three.smol</key>
	<string>three.smol.glif</string>
	<key>two.smol</key>
	<string>two.smol.glif</string>
	<key>zero.smol</key>
	<string>zero.smol.glif</string>
</dict>
</plist>
