<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>foreground</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>background</string>
      <string>glyphs.background</string>
    </array>
    <array>
      <string>Zwideblackmaxgrade</string>
      <string>glyphs.Z_wideblackmaxgrade</string>
    </array>
    <array>
      <string>Zwidemediummaxgrade</string>
      <string>glyphs.Z_widemediummaxgrade</string>
    </array>
    <array>
      <string>Zstandardmedium</string>
      <string>glyphs.Z_standardmedium</string>
    </array>
  </array>
</plist>
