<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.defcon.sortDescriptor</key>
    <array>
      <dict>
        <key>allowPseudoUnicode</key>
        <true/>
        <key>type</key>
        <string>cannedDesign</string>
      </dict>
    </array>
    <key>com.loicsander.scaleFast</key>
    <dict>
      <key>guides</key>
      <array/>
      <key>presets</key>
      <dict/>
    </dict>
    <key>com.schriftgestaltung.DisplayStrings</key>
    <array>
      <string>AORTA</string>
    </array>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.font.customParameters</key>
    <array>
      <dict>
        <key>name</key>
        <string>Axes</string>
        <key>value</key>
        <array>
          <dict>
            <key>Name</key>
            <string>Weight</string>
            <key>Tag</key>
            <string>wght</string>
          </dict>
          <dict>
            <key>Name</key>
            <string>Width</string>
            <key>Tag</key>
            <string>wdth</string>
          </dict>
          <dict>
            <key>Name</key>
            <string>Waistline</string>
            <key>Tag</key>
            <string>WSLN</string>
          </dict>
        </array>
      </dict>
    </array>
    <key>com.schriftgestaltung.fontMaster.userData</key>
    <dict>
      <key>GSCornerRadius</key>
      <integer>15</integer>
    </dict>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>1577B97C-DCC5-4AA4-842F-E9BB22E99E3C</string>
    <key>com.schriftgestaltung.glyphOrder</key>
    <false/>
    <key>com.schriftgestaltung.master.name</key>
    <string>Regular-Narrow-Stout</string>
    <key>com.schriftgestaltung.useNiceNames</key>
    <true/>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.compileSettings.autohint</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.checkOutlines</key>
    <false/>
    <key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.decompose</key>
    <false/>
    <key>com.typemytype.robofont.compileSettings.generateFormat</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.compileSettings.releaseMode</key>
    <false/>
    <key>com.typemytype.robofont.guideline.magnetic.DT8O7LRXK8</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.YgrlY2J6wm</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.YiUoFVX5YW</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.f8pkuFMswG</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.r4Og11eW4Z</key>
    <real>7.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.zB3sZ5jdqB</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.showMeasurements.DT8O7LRXK8</key>
    <false/>
    <key>com.typemytype.robofont.guideline.showMeasurements.YgrlY2J6wm</key>
    <false/>
    <key>com.typemytype.robofont.guideline.showMeasurements.YiUoFVX5YW</key>
    <false/>
    <key>com.typemytype.robofont.guideline.showMeasurements.f8pkuFMswG</key>
    <false/>
    <key>com.typemytype.robofont.guideline.showMeasurements.r4Og11eW4Z</key>
    <false/>
    <key>com.typemytype.robofont.guideline.showMeasurements.zB3sZ5jdqB</key>
    <false/>
    <key>com.typemytype.robofont.italicSlantOffset</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.segmentType</key>
    <string>curve</string>
    <key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
    <integer>1</integer>
    <key>com.typemytype.robofont.smartSets.uniqueKey</key>
    <string>4641310288</string>
    <key>designspace.location</key>
    <array>
      <array>
        <string>weight</string>
        <real>1.0</real>
      </array>
      <array>
        <string>width</string>
        <real>15.0</real>
      </array>
      <array>
        <string>serif</string>
        <real>-1.0</real>
      </array>
    </array>
    <key>public.glyphOrder</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>AE</string>
      <string>B</string>
      <string>C</string>
      <string>Ccedilla</string>
      <string>Ccedillaacute</string>
      <string>D</string>
      <string>Eth</string>
      <string>Ddotbelow</string>
      <string>Dlinebelow</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecedillabreve</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Egrave</string>
      <string>Emacronacute</string>
      <string>Emacrongrave</string>
      <string>F</string>
      <string>G</string>
      <string>Gmacron</string>
      <string>H</string>
      <string>Hbrevebelow</string>
      <string>Hdotbelow</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idieresisacute</string>
      <string>Igrave</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>Ldotbelow</string>
      <string>Llinebelow</string>
      <string>M</string>
      <string>Mdotbelow</string>
      <string>N</string>
      <string>Ndotaccent</string>
      <string>Ndotbelow</string>
      <string>Nlinebelow</string>
      <string>Ntilde</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Omacronacute</string>
      <string>Omacrongrave</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>Otildeacute</string>
      <string>Otildedieresis</string>
      <string>OE</string>
      <string>P</string>
      <string>Thorn</string>
      <string>Q</string>
      <string>R</string>
      <string>Rdotbelow</string>
      <string>Rlinebelow</string>
      <string>S</string>
      <string>Sacutedotaccent</string>
      <string>Scarondotaccent</string>
      <string>Sdotaccent</string>
      <string>Sdotbelow</string>
      <string>Sdotbelowdotaccent</string>
      <string>T</string>
      <string>Tdotbelow</string>
      <string>Tlinebelow</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Umacrondieresis</string>
      <string>Utildeacute</string>
      <string>V</string>
      <string>W</string>
      <string>Yacute</string>
      <string>Ydotaccent</string>
      <string>Zdotbelow</string>
      <string>Y.alt</string>
      <string>I.narrow</string>
      <string>C.wide</string>
      <string>E.wide</string>
      <string>F.wide</string>
      <string>G.wide</string>
      <string>L.wide</string>
      <string>S.wide</string>
      <string>Z.wide</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>a</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>aring</string>
      <string>atilde</string>
      <string>ae</string>
      <string>b</string>
      <string>c</string>
      <string>ccedilla</string>
      <string>ccedillaacute</string>
      <string>d</string>
      <string>eth</string>
      <string>ddotbelow</string>
      <string>dlinebelow</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecedillabreve</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>egrave</string>
      <string>emacronacute</string>
      <string>emacrongrave</string>
      <string>f</string>
      <string>g</string>
      <string>gmacron</string>
      <string>h</string>
      <string>hbrevebelow</string>
      <string>hdotbelow</string>
      <string>i</string>
      <string>idotless</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>idieresisacute</string>
      <string>igrave</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>ldotbelow</string>
      <string>llinebelow</string>
      <string>m</string>
      <string>mdotbelow</string>
      <string>n</string>
      <string>ndotaccent</string>
      <string>ndotbelow</string>
      <string>nlinebelow</string>
      <string>ntilde</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>omacronacute</string>
      <string>omacrongrave</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>otildeacute</string>
      <string>otildedieresis</string>
      <string>oe</string>
      <string>p</string>
      <string>thorn</string>
      <string>q</string>
      <string>r</string>
      <string>rdotbelow</string>
      <string>rlinebelow</string>
      <string>s</string>
      <string>sacutedotaccent</string>
      <string>scarondotaccent</string>
      <string>sdotaccent</string>
      <string>sdotbelow</string>
      <string>sdotbelowdotaccent</string>
      <string>germandbls</string>
      <string>t</string>
      <string>tdieresis</string>
      <string>tdotbelow</string>
      <string>tlinebelow</string>
      <string>u</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>umacrondieresis</string>
      <string>utildeacute</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>yacute</string>
      <string>ydieresis</string>
      <string>ydotaccent</string>
      <string>z</string>
      <string>zdotbelow</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>Omega</string>
      <string>mu</string>
      <string>pi</string>
      <string>one.narrow</string>
      <string>two.wide</string>
      <string>three.wide</string>
      <string>five.wide</string>
      <string>six.wide</string>
      <string>nine.wide</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>zeroinferior</string>
      <string>oneinferior</string>
      <string>twoinferior</string>
      <string>threeinferior</string>
      <string>fourinferior</string>
      <string>fiveinferior</string>
      <string>sixinferior</string>
      <string>seveninferior</string>
      <string>eightinferior</string>
      <string>nineinferior</string>
      <string>zero.subs</string>
      <string>one.subs</string>
      <string>two.subs</string>
      <string>three.subs</string>
      <string>four.subs</string>
      <string>five.subs</string>
      <string>six.subs</string>
      <string>seven.subs</string>
      <string>eight.subs</string>
      <string>nine.subs</string>
      <string>zero.dnom</string>
      <string>one.dnom</string>
      <string>two.dnom</string>
      <string>three.dnom</string>
      <string>four.dnom</string>
      <string>five.dnom</string>
      <string>six.dnom</string>
      <string>seven.dnom</string>
      <string>eight.dnom</string>
      <string>nine.dnom</string>
      <string>zero.numr</string>
      <string>one.numr</string>
      <string>two.numr</string>
      <string>three.numr</string>
      <string>four.numr</string>
      <string>five.numr</string>
      <string>six.numr</string>
      <string>seven.numr</string>
      <string>eight.numr</string>
      <string>nine.numr</string>
      <string>zerosuperior</string>
      <string>onesuperior</string>
      <string>twosuperior</string>
      <string>threesuperior</string>
      <string>foursuperior</string>
      <string>fivesuperior</string>
      <string>sixsuperior</string>
      <string>sevensuperior</string>
      <string>eightsuperior</string>
      <string>ninesuperior</string>
      <string>fraction</string>
      <string>onehalf</string>
      <string>onequarter</string>
      <string>threequarters</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>exclam</string>
      <string>question</string>
      <string>ellipsis</string>
      <string>exclamdown</string>
      <string>questiondown</string>
      <string>periodcentered</string>
      <string>bullet</string>
      <string>asterisk</string>
      <string>numbersign</string>
      <string>slash</string>
      <string>backslash</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>hyphen</string>
      <string>softhyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>figuredash</string>
      <string>horizontalbar</string>
      <string>hyphentwo</string>
      <string>underscore</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>guillemetleft</string>
      <string>guillemetright</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>figurespace</string>
      <string>hairspace</string>
      <string>punctuationspace</string>
      <string>space</string>
      <string>nbspace</string>
      <string>thinspace</string>
      <string>zerowidthspace</string>
      <string>CR</string>
      <string>cent</string>
      <string>currency</string>
      <string>dollar</string>
      <string>euro</string>
      <string>sterling</string>
      <string>yen</string>
      <string>divisionslash</string>
      <string>plus</string>
      <string>minus</string>
      <string>multiply</string>
      <string>divide</string>
      <string>equal</string>
      <string>greater</string>
      <string>less</string>
      <string>plusminus</string>
      <string>logicalnot</string>
      <string>asciitilde</string>
      <string>asciicircum</string>
      <string>emptyset</string>
      <string>infinity</string>
      <string>integral</string>
      <string>increment</string>
      <string>product</string>
      <string>summation</string>
      <string>radical</string>
      <string>partialdiff</string>
      <string>micro</string>
      <string>percent</string>
      <string>lozenge</string>
      <string>at</string>
      <string>ampersand</string>
      <string>paragraph</string>
      <string>section</string>
      <string>copyright</string>
      <string>registered</string>
      <string>degree</string>
      <string>minute</string>
      <string>second</string>
      <string>bar</string>
      <string>brokenbar</string>
      <string>literSign</string>
      <string>estimated</string>
      <string>commaturnedmod</string>
      <string>doubleprimemod</string>
      <string>firsttonechinese</string>
      <string>fourthtonechinese</string>
      <string>primemod</string>
      <string>ringhalfleft</string>
      <string>ringhalfright</string>
      <string>secondtonechinese</string>
      <string>verticallinelowmod</string>
      <string>verticallinemod</string>
      <string>dieresis</string>
      <string>dotaccent</string>
      <string>grave</string>
      <string>acute</string>
      <string>hungarumlaut</string>
      <string>circumflex</string>
      <string>caron</string>
      <string>breve</string>
      <string>ring</string>
      <string>tilde</string>
      <string>macron</string>
      <string>cedilla</string>
      <string>ogonek</string>
      <string>/arrowNE</string>
      <string>/arrowNW</string>
      <string>/arrowSE</string>
      <string>/arrowSW</string>
      <string>/arrowdown</string>
      <string>/arrowleft</string>
      <string>/arrowleftright</string>
      <string>/arrowright</string>
      <string>/arrowup</string>
      <string>/arrowupdown</string>
      <string>NULL</string>
    </array>
    <key>public.postscriptNames</key>
    <dict/>
    <key>public.skipExportGlyphs</key>
    <array>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>ellipsis</string>
      <string>exclamdown</string>
      <string>questiondown</string>
      <string>periodcentered</string>
      <string>bullet</string>
      <string>asterisk</string>
      <string>numbersign</string>
      <string>slash</string>
      <string>backslash</string>
      <string>underscore</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
  </dict>
</plist>
