<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.defcon.sortDescriptor</key>
	<array>
		<dict>
			<key>allowPseudoUnicode</key>
			<integer>0</integer>
			<key>ascending</key>
			<string>Latin-1</string>
			<key>type</key>
			<string>characterSet</string>
		</dict>
	</array>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array>
		<string>UOLTRON</string>
		<string>E</string>
		<string>A</string>
	</array>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.Axes</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Weight</string>
			<key>Tag</key>
			<string>wght</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Width</string>
			<key>Tag</key>
			<string>wdth</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Waistline</string>
			<key>Tag</key>
			<string>WSLN</string>
		</dict>
	</array>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSCornerRadius</key>
		<integer>15</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>1577B97C-DCC5-4AA4-842F-E9BB22E99E3C</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.master.name</key>
	<string>Regular-Narrow-Stout</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>0</integer>
	<key>com.schriftgestaltung.widthValue</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<false/>
	<key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<false/>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<false/>
	<key>com.typemytype.robofont.guideline.magnetic.MnhpnCF3JP</key>
	<real>5.0</real>
	<key>com.typemytype.robofont.guideline.magnetic.YgrlY2J6wm</key>
	<real>5.0</real>
	<key>com.typemytype.robofont.guideline.magnetic.YiUoFVX5YW</key>
	<real>5.0</real>
	<key>com.typemytype.robofont.guideline.magnetic.f8pkuFMswG</key>
	<real>5.0</real>
	<key>com.typemytype.robofont.guideline.magnetic.r4Og11eW4Z</key>
	<real>7.0</real>
	<key>com.typemytype.robofont.guideline.magnetic.zB3sZ5jdqB</key>
	<real>5.0</real>
	<key>com.typemytype.robofont.guideline.showMeasurements.MnhpnCF3JP</key>
	<false/>
	<key>com.typemytype.robofont.guideline.showMeasurements.YgrlY2J6wm</key>
	<false/>
	<key>com.typemytype.robofont.guideline.showMeasurements.YiUoFVX5YW</key>
	<false/>
	<key>com.typemytype.robofont.guideline.showMeasurements.f8pkuFMswG</key>
	<false/>
	<key>com.typemytype.robofont.guideline.showMeasurements.r4Og11eW4Z</key>
	<false/>
	<key>com.typemytype.robofont.guideline.showMeasurements.zB3sZ5jdqB</key>
	<false/>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<integer>1</integer>
	<key>designspace.location</key>
	<array>
		<array>
			<string>xopq</string>
			<real>391.0</real>
		</array>
		<array>
			<string>yopq</string>
			<real>560.0</real>
		</array>
		<array>
			<string>xtra</string>
			<real>1.0</real>
		</array>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>space</string>
		<string>exclam</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>exclamdown</string>
		<string>cent</string>
		<string>sterling</string>
		<string>currency</string>
		<string>yen</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>dieresis</string>
		<string>copyright</string>
		<string>ordfeminine</string>
		<string>guillemetleft</string>
		<string>logicalnot</string>
		<string>registered</string>
		<string>macron</string>
		<string>degree</string>
		<string>plusminus</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>acute</string>
		<string>mu</string>
		<string>paragraph</string>
		<string>periodcentered</string>
		<string>cedilla</string>
		<string>onesuperior</string>
		<string>ordmasculine</string>
		<string>guillemetright</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>questiondown</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>AE</string>
		<string>Ccedilla</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Eth</string>
		<string>Ntilde</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>multiply</string>
		<string>Oslash</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Yacute</string>
		<string>Thorn</string>
		<string>germandbls</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>ae</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>eth</string>
		<string>ntilde</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>divide</string>
		<string>oslash</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>yacute</string>
		<string>thorn</string>
		<string>ydieresis</string>
		<string>dotlessi</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>breve</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>ogonek</string>
		<string>tilde</string>
		<string>hungarumlaut</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>minus</string>
		<string>nbspace</string>
		<string>figurespace</string>
		<string>punctuationspace</string>
		<string>thinspace</string>
		<string>hairspace</string>
		<string>Ccedillaacute</string>
		<string>Ddotbelow</string>
		<string>Dlinebelow</string>
		<string>Emacrongrave</string>
		<string>Emacronacute</string>
		<string>Ecedillabreve</string>
		<string>Gmacron</string>
		<string>Hdotbelow</string>
		<string>Hbrevebelow</string>
		<string>Idieresisacute</string>
		<string>Ldotbelow</string>
		<string>Llinebelow</string>
		<string>Mdotbelow</string>
		<string>Ndotbelow</string>
		<string>Nlinebelow</string>
		<string>Otildeacute</string>
		<string>Otildedieresis</string>
		<string>Omacrongrave</string>
		<string>Omacronacute</string>
		<string>Rdotbelow</string>
		<string>Rlinebelow</string>
		<string>Sdotbelow</string>
		<string>Sacutedotaccent</string>
		<string>Tdotbelow</string>
		<string>Tlinebelow</string>
		<string>Utildeacute</string>
		<string>Umacrondieresis</string>
		<string>Zdotbelow</string>
		<string>OE</string>
		<string>ccedillaacute</string>
		<string>ddotbelow</string>
		<string>dlinebelow</string>
		<string>emacrongrave</string>
		<string>emacronacute</string>
		<string>ecedillabreve</string>
		<string>gmacron</string>
		<string>hdotbelow</string>
		<string>hbrevebelow</string>
		<string>idieresisacute</string>
		<string>ldotbelow</string>
		<string>llinebelow</string>
		<string>mdotbelow</string>
		<string>ndotbelow</string>
		<string>nlinebelow</string>
		<string>otildeacute</string>
		<string>otildedieresis</string>
		<string>omacrongrave</string>
		<string>omacronacute</string>
		<string>rdotbelow</string>
		<string>rlinebelow</string>
		<string>sdotbelow</string>
		<string>sacutedotaccent</string>
		<string>tdotbelow</string>
		<string>tlinebelow</string>
		<string>tdieresis</string>
		<string>utildeacute</string>
		<string>umacrondieresis</string>
		<string>zdotbelow</string>
		<string>oe</string>
		<string>pi</string>
		<string>primemod</string>
		<string>commaturnedmod</string>
		<string>verticallinemod</string>
		<string>verticallinelowmod</string>
		<string>figuredash</string>
		<string>endash</string>
		<string>emdash</string>
		<string>horizontalbar</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>fraction</string>
		<string>bullet</string>
		<string>ellipsis</string>
		<string>minute</string>
		<string>second</string>
		<string>partialdiff</string>
		<string>emptyset</string>
		<string>increment</string>
		<string>product</string>
		<string>summation</string>
		<string>divisionslash</string>
		<string>radical</string>
		<string>infinity</string>
		<string>integral</string>
		<string>estimated</string>
		<string>lozenge</string>
		<string>zerowidthspace</string>
		<string>CR</string>
		<string>NULL</string>
		<string>Ndotaccent</string>
		<string>Ohm</string>
		<string>Scarondotaccent</string>
		<string>Sdotaccent</string>
		<string>Sdotbelowdotaccent</string>
		<string>Ydotaccent</string>
		<string>doubleprimemod</string>
		<string>eightinferior</string>
		<string>eightsuperior</string>
		<string>euro</string>
		<string>firsttonechinese</string>
		<string>fiveinferior</string>
		<string>fivesuperior</string>
		<string>fourinferior</string>
		<string>foursuperior</string>
		<string>fourthtonechinese</string>
		<string>hyphentwo</string>
		<string>idotless</string>
		<string>literSign</string>
		<string>micro</string>
		<string>ndotaccent</string>
		<string>nineinferior</string>
		<string>ninesuperior</string>
		<string>oneinferior</string>
		<string>ringhalfleft</string>
		<string>ringhalfright</string>
		<string>scarondotaccent</string>
		<string>sdotaccent</string>
		<string>sdotbelowdotaccent</string>
		<string>secondtonechinese</string>
		<string>seveninferior</string>
		<string>sevensuperior</string>
		<string>sixinferior</string>
		<string>sixsuperior</string>
		<string>softhyphen</string>
		<string>threeinferior</string>
		<string>twoinferior</string>
		<string>ydotaccent</string>
		<string>zeroinferior</string>
		<string>zerosuperior</string>
		<string>zero.dnom</string>
		<string>one.dnom</string>
		<string>two.dnom</string>
		<string>three.dnom</string>
		<string>four.dnom</string>
		<string>five.dnom</string>
		<string>six.dnom</string>
		<string>seven.dnom</string>
		<string>eight.dnom</string>
		<string>nine.dnom</string>
		<string>zero.numr</string>
		<string>one.numr</string>
		<string>two.numr</string>
		<string>three.numr</string>
		<string>four.numr</string>
		<string>five.numr</string>
		<string>six.numr</string>
		<string>seven.numr</string>
		<string>eight.numr</string>
		<string>nine.numr</string>
		<string>zero.subs</string>
		<string>one.subs</string>
		<string>two.subs</string>
		<string>three.subs</string>
		<string>four.subs</string>
		<string>five.subs</string>
		<string>six.subs</string>
		<string>seven.subs</string>
		<string>eight.subs</string>
		<string>nine.subs</string>
		<string>K.alt</string>
		<string>R.alt</string>
		<string>S.alt</string>
		<string>I.narrow</string>
		<string>C.wide</string>
		<string>E.wide</string>
		<string>F.wide</string>
		<string>G.wide</string>
		<string>N.wide</string>
		<string>S.wide</string>
		<string>Z.wide</string>
		<string>three.wide</string>
		<string>five.wide</string>
		<string>L.wide</string>
		<string>Y.alt</string>
		<string>six.wide</string>
		<string>nine.wide</string>
		<string>one.narrow</string>
		<string>B.narrow</string>
		<string>K.narrow</string>
		<string>M.narrow</string>
		<string>N.narrow</string>
		<string>U.narrow</string>
		<string>W.narrow</string>
	</array>
</dict>
</plist>
