<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>designspace.location</key>
    <array>
      <array>
        <string>xopq</string>
        <real>1000.0</real>
      </array>
      <array>
        <string>yopq</string>
        <real>0.0</real>
      </array>
    </array>
    <key>public.glyphOrder</key>
    <array>
      <string>figuredash</string>
      <string>sdotaccent</string>
      <string>z</string>
      <string>Yacute</string>
      <string>brokenbar</string>
      <string>yen</string>
      <string>nbspace</string>
      <string>secondtonechinese</string>
      <string>parenright</string>
      <string>Hbrevebelow</string>
      <string>macron</string>
      <string>bracketleft</string>
      <string>eight</string>
      <string>Scarondotaccent</string>
      <string>cedilla</string>
      <string>eightsuperior</string>
      <string>aacute</string>
      <string>quotedblleft</string>
      <string>umacrondieresis</string>
      <string>ringhalfleft</string>
      <string>Ndotaccent</string>
      <string>primemod</string>
      <string>nlinebelow</string>
      <string>dlinebelow</string>
      <string>Q</string>
      <string>bullet</string>
      <string>oslash</string>
      <string>T</string>
      <string>guillemetleft</string>
      <string>emacronacute</string>
      <string>Sacutedotaccent</string>
      <string>ldotbelow</string>
      <string>bar</string>
      <string>two</string>
      <string>O</string>
      <string>euro</string>
      <string>Odieresis</string>
      <string>percent</string>
      <string>AE</string>
      <string>fiveinferior</string>
      <string>verticallinemod</string>
      <string>a</string>
      <string>seven</string>
      <string>hyphentwo</string>
      <string>G</string>
      <string>tilde</string>
      <string>edieresis</string>
      <string>guillemetright</string>
      <string>Mdotbelow</string>
      <string>otilde</string>
      <string>NULL</string>
      <string>I</string>
      <string>Otilde</string>
      <string>scarondotaccent</string>
      <string>Oslash</string>
      <string>Z</string>
      <string>slash</string>
      <string>idotless</string>
      <string>two.subs</string>
      <string>ocircumflex</string>
      <string>Ecedillabreve</string>
      <string>five</string>
      <string>endash</string>
      <string>registered</string>
      <string>plus</string>
      <string>logicalnot</string>
      <string>V</string>
      <string>Emacrongrave</string>
      <string>ellipsis</string>
      <string>B</string>
      <string>threesuperior</string>
      <string>J</string>
      <string>Emacronacute</string>
      <string>Edieresis</string>
      <string>ndotaccent</string>
      <string>Ndotbelow</string>
      <string>threequarters</string>
      <string>firsttonechinese</string>
      <string>acute</string>
      <string>zerowidthspace</string>
      <string>Ntilde</string>
      <string>two.numr</string>
      <string>Ograve</string>
      <string>Icircumflex</string>
      <string>underscore</string>
      <string>ordmasculine</string>
      <string>five.numr</string>
      <string>oneinferior</string>
      <string>fourthtonechinese</string>
      <string>o</string>
      <string>k</string>
      <string>uacute</string>
      <string>nine</string>
      <string>product</string>
      <string>D</string>
      <string>greater</string>
      <string>plusminus</string>
      <string>Aacute</string>
      <string>ydieresis</string>
      <string>U</string>
      <string>estimated</string>
      <string>K</string>
      <string>L</string>
      <string>six</string>
      <string>horizontalbar</string>
      <string>fraction</string>
      <string>ccedillaacute</string>
      <string>zerosuperior</string>
      <string>Ucircumflex</string>
      <string>onesuperior</string>
      <string>Udieresis</string>
      <string>S</string>
      <string>zero.dnom</string>
      <string>emacrongrave</string>
      <string>dieresis</string>
      <string>u</string>
      <string>micro</string>
      <string>E</string>
      <string>Utildeacute</string>
      <string>sdotbelowdotaccent</string>
      <string>w</string>
      <string>twosuperior</string>
      <string>fourinferior</string>
      <string>Omacrongrave</string>
      <string>W</string>
      <string>N</string>
      <string>q</string>
      <string>eightinferior</string>
      <string>softhyphen</string>
      <string>cent</string>
      <string>tdieresis</string>
      <string>Ddotbelow</string>
      <string>s</string>
      <string>four.numr</string>
      <string>udieresis</string>
      <string>three.numr</string>
      <string>Otildedieresis</string>
      <string>t</string>
      <string>gmacron</string>
      <string>periodcentered</string>
      <string>egrave</string>
      <string>ecircumflex</string>
      <string>four.subs</string>
      <string>four.dnom</string>
      <string>pi</string>
      <string>five.subs</string>
      <string>S.alt</string>
      <string>seven.dnom</string>
      <string>eacute</string>
      <string>A</string>
      <string>two.dnom</string>
      <string>six.numr</string>
      <string>guilsinglleft</string>
      <string>eight.dnom</string>
      <string>ograve</string>
      <string>Atilde</string>
      <string>seven.numr</string>
      <string>R</string>
      <string>Omacronacute</string>
      <string>ampersand</string>
      <string>onehalf</string>
      <string>utildeacute</string>
      <string>minute</string>
      <string>guilsinglright</string>
      <string>zero</string>
      <string>Acircumflex</string>
      <string>Rdotbelow</string>
      <string>punctuationspace</string>
      <string>numbersign</string>
      <string>integral</string>
      <string>nineinferior</string>
      <string>Sdotbelow</string>
      <string>acircumflex</string>
      <string>one</string>
      <string>Y</string>
      <string>Ocircumflex</string>
      <string>equal</string>
      <string>hbrevebelow</string>
      <string>sacutedotaccent</string>
      <string>summation</string>
      <string>Hdotbelow</string>
      <string>Sdotbelowdotaccent</string>
      <string>one.subs</string>
      <string>grave</string>
      <string>ydotaccent</string>
      <string>commaturnedmod</string>
      <string>ecedillabreve</string>
      <string>space</string>
      <string>Umacrondieresis</string>
      <string>Zdotbelow</string>
      <string>lozenge</string>
      <string>Ugrave</string>
      <string>l</string>
      <string>X</string>
      <string>Ohm</string>
      <string>otildedieresis</string>
      <string>omacrongrave</string>
      <string>agrave</string>
      <string>paragraph</string>
      <string>quotesinglbase</string>
      <string>Tdotbelow</string>
      <string>atilde</string>
      <string>verticallinelowmod</string>
      <string>aring</string>
      <string>v</string>
      <string>asciitilde</string>
      <string>oe</string>
      <string>sterling</string>
      <string>dollar</string>
      <string>questiondown</string>
      <string>P</string>
      <string>Uacute</string>
      <string>quoteleft</string>
      <string>three.subs</string>
      <string>figurespace</string>
      <string>nine.dnom</string>
      <string>hyphen</string>
      <string>zero.subs</string>
      <string>eth</string>
      <string>section</string>
      <string>germandbls</string>
      <string>ae</string>
      <string>i</string>
      <string>Agrave</string>
      <string>H</string>
      <string>quotedblright</string>
      <string>less</string>
      <string>ringhalfright</string>
      <string>Ecircumflex</string>
      <string>zero.numr</string>
      <string>y</string>
      <string>three.dnom</string>
      <string>degree</string>
      <string>f</string>
      <string>Rlinebelow</string>
      <string>oacute</string>
      <string>adieresis</string>
      <string>nine.numr</string>
      <string>onequarter</string>
      <string>parenleft</string>
      <string>sdotbelow</string>
      <string>idieresisacute</string>
      <string>backslash</string>
      <string>nine.subs</string>
      <string>M</string>
      <string>Ccedillaacute</string>
      <string>copyright</string>
      <string>doubleprimemod</string>
      <string>Igrave</string>
      <string>asterisk</string>
      <string>six.subs</string>
      <string>sevensuperior</string>
      <string>idieresis</string>
      <string>Aring</string>
      <string>ndotbelow</string>
      <string>seveninferior</string>
      <string>partialdiff</string>
      <string>C</string>
      <string>quotedblbase</string>
      <string>odieresis</string>
      <string>thinspace</string>
      <string>rdotbelow</string>
      <string>Gmacron</string>
      <string>Idieresis</string>
      <string>Eth</string>
      <string>ring</string>
      <string>divisionslash</string>
      <string>exclamdown</string>
      <string>icircumflex</string>
      <string>Nlinebelow</string>
      <string>otildeacute</string>
      <string>n</string>
      <string>omacronacute</string>
      <string>increment</string>
      <string>Ldotbelow</string>
      <string>p</string>
      <string>h</string>
      <string>Idieresisacute</string>
      <string>sixinferior</string>
      <string>Iacute</string>
      <string>emptyset</string>
      <string>d</string>
      <string>four</string>
      <string>igrave</string>
      <string>literSign</string>
      <string>ntilde</string>
      <string>tlinebelow</string>
      <string>hdotbelow</string>
      <string>r</string>
      <string>fivesuperior</string>
      <string>x</string>
      <string>foursuperior</string>
      <string>ordfeminine</string>
      <string>Eacute</string>
      <string>rlinebelow</string>
      <string>braceleft</string>
      <string>Adieresis</string>
      <string>OE</string>
      <string>threeinferior</string>
      <string>CR</string>
      <string>multiply</string>
      <string>j</string>
      <string>ucircumflex</string>
      <string>iacute</string>
      <string>hairspace</string>
      <string>llinebelow</string>
      <string>six.dnom</string>
      <string>Ydotaccent</string>
      <string>mdotbelow</string>
      <string>thorn</string>
      <string>circumflex</string>
      <string>eight.subs</string>
      <string>e</string>
      <string>g</string>
      <string>Llinebelow</string>
      <string>m</string>
      <string>at</string>
      <string>second</string>
      <string>zeroinferior</string>
      <string>currency</string>
      <string>ugrave</string>
      <string>quoteright</string>
      <string>braceright</string>
      <string>zdotbelow</string>
      <string>Thorn</string>
      <string>Egrave</string>
      <string>asciicircum</string>
      <string>Dlinebelow</string>
      <string>eight.numr</string>
      <string>five.dnom</string>
      <string>Tlinebelow</string>
      <string>twoinferior</string>
      <string>quotesingle</string>
      <string>Ccedilla</string>
      <string>Otildeacute</string>
      <string>radical</string>
      <string>yacute</string>
      <string>seven.subs</string>
      <string>minus</string>
      <string>bracketright</string>
      <string>ccedilla</string>
      <string>sixsuperior</string>
      <string>one.numr</string>
      <string>quotedbl</string>
      <string>Oacute</string>
      <string>c</string>
      <string>infinity</string>
      <string>tdotbelow</string>
      <string>three</string>
      <string>divide</string>
      <string>Sdotaccent</string>
      <string>ninesuperior</string>
      <string>b</string>
      <string>ddotbelow</string>
      <string>emdash</string>
      <string>F</string>
      <string>one.dnom</string>
    </array>
  </dict>
</plist>
