<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>list</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>I</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
			<string>O</string>
			<string>P</string>
			<string>Q</string>
			<string>R</string>
			<string>S</string>
			<string>T</string>
			<string>U</string>
			<string>V</string>
			<string>W</string>
			<string>X</string>
			<string>Y</string>
			<string>Z</string>
			<string>a</string>
			<string>ampersand</string>
			<string>asciicircum</string>
			<string>asciitilde</string>
			<string>asterisk</string>
			<string>at</string>
			<string>b</string>
			<string>backslash</string>
			<string>bar</string>
			<string>braceleft</string>
			<string>braceright</string>
			<string>bracketleft</string>
			<string>bracketright</string>
			<string>bullet</string>
			<string>c</string>
			<string>cent</string>
			<string>colon</string>
			<string>comma</string>
			<string>copyright</string>
			<string>d</string>
			<string>degree</string>
			<string>divide</string>
			<string>dollar</string>
			<string>e</string>
			<string>eight</string>
			<string>ellipsis</string>
			<string>emdash</string>
			<string>endash</string>
			<string>equal</string>
			<string>euro</string>
			<string>exclam</string>
			<string>f</string>
			<string>five</string>
			<string>four</string>
			<string>g</string>
			<string>grave</string>
			<string>greater</string>
			<string>h</string>
			<string>hyphen</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>less</string>
			<string>m</string>
			<string>minus</string>
			<string>multiply</string>
			<string>n</string>
			<string>nbspace</string>
			<string>nine</string>
			<string>numbersign</string>
			<string>o</string>
			<string>one</string>
			<string>p</string>
			<string>parenleft</string>
			<string>parenright</string>
			<string>percent</string>
			<string>period</string>
			<string>periodcentered</string>
			<string>plus</string>
			<string>q</string>
			<string>question</string>
			<string>quotedbl</string>
			<string>quotedblleft</string>
			<string>quotedblright</string>
			<string>quoteleft</string>
			<string>quoteright</string>
			<string>quotesingle</string>
			<string>r</string>
			<string>registered</string>
			<string>s</string>
			<string>semicolon</string>
			<string>seven</string>
			<string>six</string>
			<string>slash</string>
			<string>space</string>
			<string>sterling</string>
			<string>t</string>
			<string>three</string>
			<string>trademark</string>
			<string>two</string>
			<string>u</string>
			<string>underscore</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>yen</string>
			<string>z</string>
			<string>zero</string>
		</array>
		<key>name</key>
		<string>GF_Latin_Kernel</string>
	</dict>
</array>
</plist>
